@model LoanProcessManagement.App.Models.LeadStatusVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LeadStatus";
}

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>Lead Status</h5></div>
            <div class="panel-body ">
                <div class="card" style="padding:5px;">
                    <div class="filters">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <label>Branch</label><span style="color: Red">&nbsp;*</span>
                                </div>
                                <div class="col-3">
                                    <div id="divBranch" class="input-control text">
                                        <select id="DDLBranch" asp-items=Model.getAllBranchesDto class="form-control">
                                            @*<option value="-1">Select</option>*@
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <label>Select Role : </label>
                                </div>
                                <div class="col-3">
                                    <div id="divUserType">
                                        <input type="checkbox" class="ch1" name="userType" value="3" checked>
                                        Branch
                                        <input type="checkbox" class="ch2" name="userType" value="4">
                                        DSA
                                    </div>
                                    <span id="Err_Msg_divUserType" class="text-danger"></span>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <input type="button" asp-action="FilterSearch" class="btn btn-primary  btn-sm" onclick="myfun()" value="Submit" id="btnSubmit">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="display table table-responsive-xl" id="tblLoginReport">
                                        <thead>
                                            <tr>
                                                @*<th>Name</th>
        <th>Total Leads</th>
        <th>Converted Leads</th>
        <th>Branch (Data Entry)</th>
        <th>HO (In-Prin. Sanc.)</th>
        <th>Branch (Cust. Processing)</th>
        <th>Branch (3rd Party Check)</th>
        <th>Branch (Reco.)</th>
        <th>HO (Sanction)</th>
        <th>Sanctioned Leads</th>
        <th>Disbursed Leads</th>
        <th>Lost Leads</th>
        <th>Rejected Leads</th>
        <th>Rejection %</th>*@
                                                <th>Name</th>
                                                <th>Total Leads</th>
                                                <th>Converted Leads</th>
                                                <th>Data Entry</th>
                                                <th>In-Prin. Sanc.</th>
                                                <th>Branch Processing</th>
                                                <th>3rd Party Check</th>
                                                <th>Recomendation</th>
                                                <th>HO (Sanction)</th>
                                                <th>Sanctioned Leads</th>
                                                <th>Disbursed Leads</th>
                                                <th>Lost Leads</th>
                                                <th>Rejected Leads</th>
                                                <th>Rejection %</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function myfun() {
        var user1 = 0;
        var user2 = 0;
        if ($(".ch1").prop('checked') == true) {
            user1 = ($('.ch1').val());
        }
        if ($(".ch2").prop('checked') == true) {
            user2 = ($('.ch2').val());
        }
        $.ajax({
            type: "POST",
            url: "/Leadlist/FilterSearch",
            data: { "Id": $('#DDLBranch').find('option:selected').val(), "userId": user1, "UserId2": user2 },
            success: function (data) {

                var table = $('#tblLoginReport').DataTable();
                table.destroy();

                $('#tblLoginReport tbody').empty();


                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td>" + item.dsaName + "</td>" +
                        "<td>" + item.totalLead + "</td>" +
                        "<td>" + item.convertedLead + "</td>" +
                        "<td>" + item.branchDataEntry + "</td>" +
                        "<td>" + item.hoInPrinSanction + "</td>" +
                        "<td>" + item.branchCustProcessing + "</td>" +
                        "<td>" + item.branch3rdPartyCheck + "</td>" +
                        "<td>" + item.branchRecord + "</td>" +
                        "<td>" + item.hoSanction + "</td>" +
                        "<td>" + item.rejectedLead + "</td>" +
                        "<td>" + item.sanctionedLead + "</td>" +
                        "<td>" + item.disbursedLead + "</td>" +
                        "<td>" + item.lostLead + "</td>" +
                        "<td>" + item.rejectionPercent + "</td>" +
                        "</tr>";
                    $('#tblLoginReport tbody').append(rows);
                })

                $('#tblLoginReport').DataTable();
                
            }
        });
    };

    $("#divUserType").change(function () {
        var array = [];
        $("#divUserType input:checked").each(function () {
            array.push($(this).val());
        });
        var chklist = array.toString();
        if (chklist == "") {
            $("#Err_Msg_divUserType").html("Please Select Atleast One Option.").show();
            $("#btnSubmit").attr('disabled', 'disabled');
            return false;
        }
        else {
            $("#Err_Msg_divUserType").html("").hide();
            $("#btnSubmit").removeAttr('disabled');
        }
    });
</script>
