@model LoanProcessManagement.Domain.CustomModels.LeadListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LeadSummary";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<style>
    .row {
        display: flex;
        flex-direction: row;
             
    }
    .app {
       width:60%;
    }
    .padding-1 {
        margin-left: 120px;       
    }
    .padding-0 {
        padding-left: 220px;        
    }
    .padding-2 {
        padding-left: 220px;
    }
    .padding-3 {
        padding-left: 230px;
    }
    .padding-4 {
        padding-left: 170px;
    }
    .padding-5 {
        padding-left: 160px;
    }
    .padding-6 {
        padding-left: 180px;
    }
    .padding-7 {
        padding-left: 80px;
    }
</style>
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading">Lead List</div>
            <div class="card">
                <div class="card">
                    <div class="d-flex flex-row justify-content-around row ">
                        <p class="padding-1">Form No.</p>
                        <p class="padding-0">2233</p>
                    </div><hr>
                    <div class="d-flex flex-row justify-content-around row ">
                        <p class="padding-1">Full Name</p>
                        <p class="padding-2">Naresh</p>
                    </div><hr>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Phone</p>
                        <p class="padding-3">9988776655</p>
                    </div><hr>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Product Chosen</p>
                        <p class="padding-4">Purchase of New Property from Builder</p>
                    </div><hr>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Appointment Date</p>
                        <p class="padding-5">03/11/2021</p>
                    </div>
                    <hr>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Current Status</p>
                        <p class="padding-6">Branch processing</p>
                    </div>
                    <hr>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Is Exempted from GST? (> 40L turnover)</p>
                        <p class="padding-7">NA</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-around">
            <button class="btn btn-primary">Summary</button>
            <button class="btn btn-primary">Modification</button>
            <button class="btn btn-primary">History</button>
            <button class="btn btn-primary">Query History</button>
            <button class="btn btn-primary">Products</button>
            <button class="btn btn-primary">Property Details</button>
        </div>
    </div>
</div>



