@model LoanProcessManagement.App.Models.UserAuthenticationRequestVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewData["Title"] = "Login Page";
}

<style>
    body {
        background: #eaeaea;
    }


    .form-signin {
        max-width: 330px;
        padding: 15px;
     
        margin: 0 auto;
        border: 1px solid #343a40;
        border-radius:8px
    }

    .form-signin-heading {
        font-size: 20px;
        font-weight: 100;
    }

    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .forgot:hover {
        color: blue;
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="form-signin well well-lg">
        <div style="text-align:center;">
            <img src="~/css/images/LPM-logo.png" style="max-height: 100px; ">
        </div>

        <h5 class="form-signin-heading text-center">Sign in</h5>

        <form asp-action="Index" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">


            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <input asp-for="EmployeeId" class="form-control" id="txtEmpId" type="text" placeholder="Enter Username" autofocus />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <input asp-for="Password" class="form-control" id="txtPassword" type="password" placeholder="Enter Password" autofocus />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label class="checkbox">
                            <input type="checkbox" id="chkPersistCookie" />&nbsp;Remember me<br />
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <div id="alertMsg" style="display:none;">
                            <label id="lblAlert" Style="color: red"></label>
                            <div style="margin-bottom: 10px"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @*<input type="button" " value="Login" id="btnSignIn" onclick="EncryptPassword();" Class="btn btn-lg btn-primary btn-block" />*@
                        <input type="submit" value="Login" id="btnSignIn" Class="btn btn-lg btn-defult-submit btn-block" />
                    </div>
                </div>
            </div>

            @*<input type="text" id="txtEmpId" placeholder="Enter Login Id" class="form-control" autofocus required />*@



            @*<input type="Password" id="txtPassword" class="form-control" placeholder="Password" autofocus required />*@



            <center>@*<asp:Label runat="server" ID="lblStatus" style="color:red;text-align:center;font-weight:bold;font-size:large;" Visible="false">UAT Version</asp:Label>*@</center>
            <center><a class="forgot" id="ancForgotPassword" href="/ForgotPasswordUI" runat="server">Forgot Password</a></center>
            <center>@*How to log in to Sankalp portal: <a class="forgot" id="a1" href="https://vimeo.com/332191388/a61e0fd20a" target="_blank" runat="server">DSA</a> | <a class="forgot" id="a2" href="https://vimeo.com/332189417/dd735b723c" target="_blank" runat="server"> Branch</a>*@</center>
        </form>
    </div>
</div>
