@model LoanProcessManagement.App.Models.PropertyDetailsCommandVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "UpdatePropertyDetails";
}
<style>

    .group1 {
        padding-left: 4px;
        float: left;
    }

    .group2 {
        float: right;
        width: 65%;
        padding-right: 4px;
    }
</style>




<style>
    .row {
        margin-left: 5px;
        margin-right: 5px;
    }

    #btnSignIn {
        margin-left: 5px;
    }
    .div {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-content:end;
    align-self:end;
    }
    .radio-button {
    margin-top : -20px;
    }
</style>

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
            <div class="panel-heading">
                Edit Property Details
            </div>
            <div class="panel-body">
                <div class="border-part">

                    @if (ViewBag.isSuccess == true)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Message
                        </div>
                    }

                    <form action="/login/UpdatePropertyDetailsUnFreeze" method="post">
                        <input type="hidden" asp-for="lead_Id" />
                        <div class="form-group row">
                            <label asp-for="PropertyID" class="col-sm-4 col-form-label">Property Type<span style="color: red; width: 10%;">*</span></label>
                            <div class="col-sm-8">
                                <select asp-for="PropertyID" class="form-control" asp-items=" ViewBag.PropertyType" autofocus readonly style="pointer-events: none;">
                                    <option value="">Selected Property Type</option>
                                </select>
                                <span asp-validation-for="PropertyID" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label asp-for="PropertyPincode" class="col-sm-4 col-form-label">Add Pincode of identified property<span style="color: red; width: 10%;">*</span></label>
                            <div class="col-sm-8">
                                <input asp-for="PropertyPincode" class="form-control" type="text" placeholder="" autofocus readonly />

                            </div>
                        </div>


                        <div class="initial1">
                            <div class="row">
                                <label asp-for="PropertyUnderConstruction" class="col-sm-4 col-form-label">a.Under-Construction<span style="color: red; width: 10%;">*</span></label>
                                <div class="col-sm-2">

                                    <input asp-for="PropertyUnderConstruction" class="form-control" type="radio" autofocus value="YES" id="Yes" readonly style="pointer-events: none;" /><span class="radio-button">YES</span>


                                </div>
                                <div class="col-sm-2">

                                    <input asp-for="PropertyUnderConstruction" class="form-control" type="radio" value="NO" id="No" readonly autofocus style="pointer-events: none;" />NO


                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ProjectName" class="col-sm-4 col-form-label">b.Project Name<span style="color: red; width: 10%;">*</span></label>
                            <div class="col-sm-8">
                                <input asp-for="ProjectName" class="form-control" placeholder="" autofocus readonly />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="UnitName" class="col-sm-4 col-form-label">c.Unit Name<span style="color: red; width: 10%;">*</span></label>
                            <div class="col-sm-8">
                                <input asp-for="UnitName" class="form-control" type="text" placeholder="" autofocus readonly />

                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ProjectAddress" class="col-sm-4 col-form-label">d.Project Address<span style="color: red; width: 10%;">*</span></label>
                            <div class="col-sm-8">
                                <textarea asp-for="ProjectAddress" class="form-control" placeholder="" autofocus readonly></textarea>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="IsSanctionedPlanReceivedID" class="col-sm-4 col-form-label">e.Does the property have a sanctioned/approved plan ?<span style="color: red; width: 10%;">*</span></label>
                            <div class="col-sm-8">
                                <select asp-for="IsSanctionedPlanReceivedID" class="form-control" asp-items="ViewBag.sanctionedPlan" readonly style="pointer-events: none;">
                                    <option value="">Selected Property Sanctioned Plan</option>
                                </select>

                            </div>
                        </div>

                        <div>
                            <p class="text-danger"><span class="text-danger" style="font-weight:bold;padding-left:10px">Note: </span>Property Pincode can be entered only once, Please be guided.</p>
                        </div>
                        @*<div class="button">
                            <input type="submit" value="Save" id="btnSignIn" Class="btn btn-primary btn-sm" href="#" />
                        </div>*@
                    </form>
                </div>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-around">
            <a class="btn btn-primary btn1 selected" asp-controller="LeadList" asp-action="LeadSummary">Summary</a>
            <a class="btn btn-primary btn1" asp-controller="LeadList" asp-action="LeadModification" target="_blank">Modification</a>
            <a class="btn btn-primary btn1" asp-controller="LeadList" asp-action="LeadHistory" target="_blank">History</a>
            @*<button class="btn btn-primary btn1">Query History</button>*@
            <a class="btn btn-primary btn1" asp-controller="ProductsList" asp-action="AllProductsList" target="_blank">Products</a>
            <a class="btn btn-primary btn1" asp-controller="Login" asp-action="UpdatePropertyDetails" target="_blank">Property Details</a>


        </div>
    </div>
</div>





