@model LoanProcessManagement.App.Models.CheckboxfunctionVm
<link href="~/css/Common Css/Common1.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "CreateMenu";
}
<style>
    .error-msg {
        width: 100%;
        color: #dc3545;
        display: none;
        margin-left: 10px;
        margin-top:10px;
    }
</style>

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in ">
            <div style="border: 1px solid #343a40" class="border">
                <div class="panel-heading">
                    <h5>Create Menu</h5>
                </div>
                <div class="panel-body">
                    <div class="border-part">
                        <form asp-action="CreateMenu" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div><br />
                            <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-lg-4 col-sm-12">
                                        <label asp-for="createMenuCommand.MenuName" class="control-label">Menu Name<span style="color: Red">&nbsp;*</span></label>

                                        <input asp-for="createMenuCommand.MenuName" class="form-control" maxlength="50" placeholder="Menu Name" />
                                        <span asp-validation-for="createMenuCommand.MenuName" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-4 col-sm-12">
                                        <label asp-for="createMenuCommand.Link" class="control-label">Link<span style="color: Red">&nbsp;*</span></label>

                                        <input asp-for="createMenuCommand.Link" class="form-control" maxlength="200" placeholder="Link" />
                                        <span asp-validation-for="createMenuCommand.Link" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-4 col-sm-12">
                                        <label asp-for="Icons" class="control-label">Icon<span style="color: Red">&nbsp;*</span></label><br />

                                        <span id="errorFileSize" style="font-size: 12px" class="text-danger"></span>
                                        <input asp-for="Icons" type="file" name="Icons" accept="image/*" id="Icons" onchange="readURL(this);" />
                                        <div class="pt-3">
                                            <img id="thumbnail" class="img-thumbnail" src="#" alt="Icon image">
                                        </div>
                                        <span asp-validation-for="Icons" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="row">

                                    <div class="col-lg-4 col-sm-12">
                                        <label asp-for="createMenuCommand.Position" class="control-label">Position<span style="color: Red">&nbsp;*</span></label>

                                        <input asp-for="createMenuCommand.Position" class="form-control" placeholder="Select Position" maxlength="50" />
                                        <span asp-validation-for="createMenuCommand.Position" class="text-danger"></span>
                                    </div>

                                <div class="col-lg-4 col-sm-12">
                                    <label id="txtlab">Menu Is Being Created For<span style="color: Red">&nbsp;*</span> </label>


                                    <div id="checkings">
                                        @for (int i = 0; i < Model.ListVms.Count(); i++)
                                        {
                                            <div class="">
                                                <tr id="lblcheck">
                                                    <td><input asp-for="@Model.ListVms[i].Id" hidden /></td>
                                                    <td><input asp-for="@Model.ListVms[i].Checkbox" onclick="validate()" id="inpcheck" type="checkbox"/>&nbsp;@Model.ListVms[i].Name</td>
                                                </tr>
                                            </div>
                                        }
                                    </div>
                                    <p class="error-msg"></p>
                                </div>

                                    <div class="col-lg-4 col-sm-12">
                                        <label>Is Parent Menu?<span style="color: Red">&nbsp;*</span></label><br />

                                        <input hidden id="confirming" asp-for="createMenuCommand.IsParent" />
                                        <input type="radio" name="Married" id="Yes" value="Yes" onclick="hideStudentChildren()" required>
                                        <label class="font-weight-normal" for="Yes"><span>Yes</span></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <input type="radio" name="Married" id="No" value="No" onclick="hideStudentChildren()" checked>
                                        <label class="font-weight-normal" for="No"><span>No</span></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-lg-4 col-sm-12">
                                        <label>Sub Menus</label>
                                        <select multiple="multiple" asp-for="Childlist" asp-items="@ViewBag.ParentId" id="selectChildren" class="required" disabled required>
                                        </select>
                                        <div><b>To Select Multiple Options Press <i>'Ctrl + Select'</i></b></div>
                                    </div>
                                </div>
                            </div>

                            <div hidden class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="createMenuCommand.IsActive" checked /> @Html.DisplayNameFor(model => model.createMenuCommand.IsActive)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"><button type="submit" onclick="validate()" id="submit" style="background-color: #343a40;color:white" class="btn">Submit</button></div>
                                    <div class="col-md-2"><a asp-action="Menulist" id="btn2" type="button" value="Cancel" class="btn btn-danger">Cancel</a></div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     function validate() {
         var checked_checkboxes = $("#inpcheck:checked");
         if (checked_checkboxes.length == 0) {
             $(".error-msg").html("Please Select Atleast One Option.").show();
             $("#submit").attr('disabled', 'disabled');
            }
            else {               
             $(".error-msg").html("").hide();
             $("#submit").removeAttr('disabled');
            }      
    };
   
    function hideStudentChildren() {
        if ($("#Yes").is(":checked")) {
            check();
            $("#selectChildren").removeAttr("disabled");
        }
        if ($("#No").is(":checked")) {
            uncheck();
            $("#selectChildren").attr("disabled", "disabled");
        }
    }

    function check() {
        document.getElementById("confirming").checked = true;
    }

    function uncheck() {
        document.getElementById("confirming").checked = false;
    }

    $(document).ready(function () {
        $('#thumbnail').hide();
    });
    function readURL(input) {
        var ext = $(input).val().split('.').pop().toLowerCase();
        var result = $.inArray(ext, ['PNG', 'png', 'JPG', 'JPEG', 'jpg', 'jpeg']);
        if (input.files && input.files[0] && result >= 0) {
            var fileSize = $(input)[0].files[0].size;
            if (fileSize <= 1000000) {
                $('#errorFileSize').text("");
                var reader = new FileReader();
                $('#thumbnail').show();
                reader.onload = function (e) {
                    $('#thumbnail').attr('src', e.target.result)
                        .width(80)
                        .height(80);
                };
                reader.readAsDataURL(input.files[0]);
            }
            else {
                var $el = $('#Icons');
                $el.wrap('<form>').closest('form').get(0).reset();
                $el.unwrap();
                $('#thumbnail').attr('src', null);
                $('#errorFileSize').text("Max File Size is 1 MB");
                $('#thumbnail').hide();

            }
        }
        else {
            var $el = $('#Icons');
            $el.wrap('<form>').closest('form').get(0).reset();
            $el.unwrap();
            $('#errorFileSize').text("Only png, jpg and jpeg Images allowed");
            $('#thumbnail').hide();
            setTimeout(
                function () {
                    $('#errorFileSize').text("");
                }, 10000);
        }
    }
</script>