@model LoanProcessManagement.App.Models.UpdateCheckboxfunctionVm


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "UpdateMenu";
}
<style type="text/css">
    #pswd_info {
        position: relative;
        left: 20px;
        right: 40px;
        width: 70%;
        padding: 15px;
        background: #fefefe;
        font-family: Arial;
        font-size: 15px;
        color: #444;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    }

        #pswd_info::before {
            content: "\25B2";
            position: relative;
            top: -19px;
            left: 45%;
            font-size: 16px;
            line-height: 14px;
            color: #ddd;
            text-shadow: none;
            display: block;
        }

    input[type=submit] {
        color: white;
        background-color: #191970;
    }

    #para {
        color: red;
        text-align: center;
        font-size: larger;
    }

    #bara {
        color: #191970;
    }
    .border-part {
        padding-left: 60px;
        padding-right: 60px;
    }
    #inpcheck {
        margin-left: 10px;
    }
    #txtlab {
        padding-top: 9px;
    }
    #lblcheck {
        margin-left: 2px;
        font-size: 14px;
        color: #818181;
        font-family: sans-serif;
    }

    #checkboxes {
        display: flex;
    }
</style>
<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
            <div class="panel-heading">
                Update Menu
            </div>
            <div class="panel-body">
                <div class="border-part">
                    <form method="post" asp-controller="Home">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div hidden class="form-group">
                            <label asp-for="getMenuByIdQueryVm.Id" class="control-label"></label>
                            <input disabled asp-for="getMenuByIdQueryVm.Id" class="form-control" />
                            <span asp-validation-for="getMenuByIdQueryVm.Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="getMenuByIdQueryVm.MenuName" class="control-label"></label>
                            <input asp-for="getMenuByIdQueryVm.MenuName" class="form-control" />
                            <span asp-validation-for="getMenuByIdQueryVm.MenuName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="getMenuByIdQueryVm.Link" class="control-label"></label>
                            <input asp-for="getMenuByIdQueryVm.Link" class="form-control" />
                            <span asp-validation-for="getMenuByIdQueryVm.Link" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="getMenuByIdQueryVm.Icon" class="control-label"></label>
                            <input asp-for="getMenuByIdQueryVm.Icon" class="form-control" />
                            <span asp-validation-for="getMenuByIdQueryVm.Icon" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="getMenuByIdQueryVm.Position" class="control-label"></label>
                            <input asp-for="getMenuByIdQueryVm.Position" class="form-control" />
                            <span asp-validation-for="getMenuByIdQueryVm.Position" class="text-danger"></span>
                        </div>
                        <div class="form-group" id="checkboxes">
                            <label id="txtlab">Menu Is Being Updated For </label>
                            @foreach (var role in Model.lpmUserRoleMaster)
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label id="lblcheck">
                                            <input id="inpcheck" type="checkbox" /> @role.RoleName
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                        <div hidden class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="getMenuByIdQueryVm.IsActive" /> @Html.DisplayNameFor(model => model.getMenuByIdQueryVm.IsActive)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td><input id="btn1" type="submit" value="Confirm" class="btn btn-default" /></td>
                                    <td><a href="http://localhost:14018/MenuList/1"><input id="btn2" type="submit" value="Cancel" class="btn btn-default" /></a></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>