@model LoanProcessManagement.App.Models.LeadITRDetailsVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewData["Title"] = "ITR Details Details";
}

<style>
    .tab {
        padding-left: 15px;
    }

    .AppTabs {
        display: inline-block;
        margin-right: 3px;
        padding: 5px 30px;
        background: #191970;
        color: #FFF;
    }

    .btn {
        width: inherit;
        justify-content: center;
    }

    .AppTabs:hover {
        background: #adb5bd;
        color: black;
    }

    .AppTabs:visited {
        text-decoration: none;
    }

    .selected {
        background: #0d7db5;
        color: #FFF;
    }

    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
</style>


<div style="margin-top: 20px" class="container">
    <div class="container app">
        <div class="col-sm-12 col-lg-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
                <div class="panel-heading">
                    <h3>Add ITR Enquiry</h3>
                </div>
                <div style="border: 1px solid #343a40;padding-bottom:5px;padding-left:8%" class="border">
                    <form method="post" action="/LeadITRDetails/index">
                        @*<input type="hidden" name="ctl00$ContentPlaceHolder1$hdnEmpId" id="hdnEmpId" value="">*@
                        <input type="hidden" asp-for="lead_Id" id="hdnLeadId">
                        <input type="hidden" asp-for="ApplicantType" id="hdnApplicantType">
                        <input type="hidden" asp-for="CreatedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="LastModifiedBy" value=@User.FindFirst("lg_id").Value />
                        <div style="height: 15px;"></div>
                        <div class="btn">
                            <a href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=0" class="AppTabs btn-sm selected" id="tabProcess0" style="background: #adb5bd;">Applicant</a>
                            <a id="ContentPlaceHolder1_lnkCoApp1" class="AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=1" style="background: #343a40;">Co-Applicant-1</a>
                            <a id="ContentPlaceHolder1_lnkCoApp2" class="AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=2" style="background: #343a40;">Co-Applicant-2</a>
                            <a id="ContentPlaceHolder1_lnkCoApp3" class="AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=3" style="background: #343a40;">Co-Applicant-3</a>
                            <a id="ContentPlaceHolder1_lnkCoApp4" class="AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=4" style="background: #343a40;">Co-Applicant-4</a>
                            <a id="ContentPlaceHolder1_lnkCoApp5" class="AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=5" style="background: #343a40;">Co-Applicant-5</a>
                        </div>
                        <div style="height: 10px;"></div>
                        <span id="ContentPlaceHolder1_spanMessage" style="color: red;"></span>
                        <div style="height: 10px;"></div>
                        <div class="frames">
                            <div class="panel-body">
                                @if (ViewBag.isSuccess == true)
                                {
                                    <div class="alert alert-success" role="alert">
                                        @ViewBag.Message
                                    </div>
                                }
                                else if (ViewBag.isSuccess == false)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Error!</strong> @ViewBag.Message
                                    </div>

                                }
                                <div id="ContentPlaceHolder1_alertMsg">
                                    <div>
                                        <div class="col-md-5">
                                            <label class="h4">Form No</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <span id="ContentPlaceHolder1_lblFormNo" class="h4" style="color: black; border:none">
                                                    <label>@Model.FormNo</label>
                                                    <input type="hidden" asp-for="FormNo" />
                                                    
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display:flex;">
                                    <div class="col-md-4">

                                    </div>
                                    <div style="width:100%; text-align:center;"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                                </div>
                                <div style="height: 5px;"></div>

                                <div id="divConverted3PC">
                                    <h2>Customer Details</h2>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Name</label>
                                        
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <input asp-for="CustomerName" type="text" maxlength="26" id="ContentPlaceHolder1_txtCustomerName" class="form-control required" readonly style="pointer-events: none;">
                                            
                                            <span asp-validation-for="CustomerName" style="color:Red;display:block;"></span>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Email</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <input asp-for="CustomerEmail" type="text" id="ContentPlaceHolder1_txtCustomerEmail" class="form-control" readonly style="pointer-events: none;">
                                            @*<span id="ContentPlaceHolder1_RegularExpressionValidator4" style="color:Red;display:none;">Invalid Email Address.</span>*@
                                            <span asp-validation-for="CustomerEmail" style="color:Red;display:block;"></span>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Mobile</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <input asp-for="CustomerPhone" type="text" maxlength="10" id="ContentPlaceHolder1_txtCustomerMobile" class="form-control noTxtInput" readonly style="pointer-events: none;">
                                            <span asp-validation-for="CustomerPhone" style="color:Red;display:block;"></span>
                                           
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Employee Type</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <input  type="radio" id="selfEmployee" checked>
                                            <label for="selfEmployee">Self-Employee</label>                   
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Consent</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <input type="checkbox"  id="ConsentValue" checked>                               
                                            <label for="ConsentValue"> Yes </label><br>
                                            @*<span style="color:Red;display:block;"></span>*@
                                            @*<span id="ContentPlaceHolder1_RegularExpressionValidator3" style="color:Red;display:none;">Invalid Mobile No.</span>*@
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div id="IdentificationDv">
                                    <div style="height: 5px;"></div>
                                    <div class="divsubheader" id="divIdentification">
                                        <h2>ITR Details</h2>
                                        
                                    </div>
                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <label class="">PAN</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <input asp-for="PanCardNo" type="text" maxlength="10" id="ContentPlaceHolder1_txtPAN" class="form-control" readonly style="pointer-events: none;">
                                            </div>
                                        </div>

                                    </div>

                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <label class="">User Name</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <input asp-for="UserName" type="text" maxlength="10" id="ContentPlaceHolder1_txtPAN" class="form-control" readonly style="pointer-events: none;">
                                            </div>
                                        </div>

                                    </div>

                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <label class="">Password</label>
                                            <span style="color: Red">&nbsp;*</span>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <input asp-for="Password" type="password" maxlength="20" id="ContentPlaceHolder1_txtPAN" class="form-control">
                                                <span asp-validation-for="Password" style="color:Red;display:block;"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div id="accountDv">


                                    <br />
                                    <div class="row tab">
                                        <div class="col-md-12">
                                            <center>
                                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnClearEnquiry" value="Clear" id="ContentPlaceHolder1_btnClearEnquiry" class="btn btn-success" onclick="this.form.reset();">&nbsp
                                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnAddEnquiry" value="Submit" id="ContentPlaceHolder1_btnAddEnquiry"  class="btn" style="background-color: #343a40; color:white;">&nbsp
                                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnExit" value="Exit" id="ContentPlaceHolder1_btnExit" class="btn btn-danger" asp-controller="Home" asp-action="Index">
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

