@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Training Videos";
}

<style>
    .tile .tile-content {
        margin: 10px auto !important;
    }

    .tile .brand, .tile .tile-status {
        min-height: 50px !important;
        font-size: 17px;
        padding: 10px;
    }
</style>
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">

            <div class="panel-heading"><h5>Training Videos</h5></div>
            <div class="panel-body">
                <div class="card" style="padding:5px;">
                    <ul class="nav nav-pills nav-sidebar flex-column"
                        data-widget="treeview">
                        @foreach (var itm in Model)
                        {
                            <li class="nav-item">
                                <a href="@itm.Link" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>
                                        @itm.TrainingVideoName
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
