@model LoanProcessManagement.Application.Features.RejectedLeadMaster.Commands.CreateRejectedLeadReasonMaster.CreateRejectedLeadReasonMasterCommandDto

@{
    ViewData["Title"] = "AddRejectLeadReason";
}

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in ">
            <div style="border: 1px solid #343a40" class="border">
                <h5 class="ml-2 mt-3"><u><b>Add Reject Lead Reason</b></u></h5>
                <div class="panel-body">
                    <div class="border-part">
                        <form asp-action="AddRejectLeadReason" id="MyForm" method="post" enctype="multipart/form-data">
                            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                            <div class="form-group">
                                <div class="row pl-5">
                                    <div class="col-lg-4 col-sm-12 ">
                                        <label asp-for="RejectLeadReason" class="control-label"></label>
                                        <input asp-for="RejectLeadReason" class="form-control" />
                                        <span asp-validation-for="RejectLeadReason" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    <div class="mr-2"><button type="submit" value="Create" class="btn btn-default" id="submit" style="background-color: #343a40;color:white">Submit</button></div>
                                    <div><a onclick="loadPage()" id="btn2" value="Cancel" class="btn btn-danger">Cancel</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        function loadPage() {

            $("#div_dynamicTables").load("../Master/GetRejectLeadReasonMaster");
        }
        $("#MyForm").on("submit", function (e) {
            var dataString = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "/Master/AddRejectLeadReason",
                data: dataString,
                success: function () {
                    toastr.success("Reject Lead Reason Added SuccessFully.");
                    $("#div_dynamicTables").load("../Master/GetRejectLeadReasonMaster");
                }
            });
            e.preventDefault();
        });

    </script>