@model IEnumerable<LoanProcessManagement.Application.Features.UserList.Query.GetUserListQueryVm>
<script src="~/js/Master.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Index";
}
<style>
    #act1 {
        color: white;
    }

        #act1:hover {
            color: white;
        }
</style>
<div class="container app pb-5">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s">
            <div class="panel-heading"><h5>Master</h5></div>
            <div class="panel-body">

                <div id="alertMsg" visible="false" runat="server">
                    <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                </div>
                <div class="card" style="padding:15px;">
                    <div>
                        <div class="row">

                            <div class="col-lg-3 mb-1">

                                <label class="">Select Master</label>

                                <select class="form-control mr-0 w3-right" aria-label="Default select example" name="sorts" id="selectVideo" required>
                                    <option value="0" selected>Select Master</option>
                                    <option value="1">User Role</option>
                                    <option value="2">Branch</option>
                                    <option value="3">Agency</option>
                                    <option value="4">Qualification</option>
                                    <option value="5">LostLeadReason</option>
                                    <option value="6">RejectLeadReason</option>

                                    <option value="7">QueryType</option>
                                    <option value="9">Category</option>

                                    <option value="8">Scheme</option>
                                    <option value="15">Products</option>

                                    <option value="10">Institution</option>
                                    <option value="11">Lead Status</option>
                                    <option value="12">Qualification</option>



                                </select>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div id="div_dynamicTables"></div>
                </div>

            </div>
        </div>
    </div>
</div>



