@using LoanProcessManagement.Application.Features.RejectedLeadMaster.Queries.GetRejectedLeadMasterbyId;
@model LoanProcessManagement.App.Models.UpdateRejectLeadReasonMasterVm
    <script src="~/js/jquery/jquery-1.10.1.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @{
        var record = (GetRejectedLeadReasonMasterByIdDto)ViewData["data"];
    }
    <div class="container app" style="border: 1px solid lightGray">
        <div class="col-sm-12 col-lg-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in ">
                <div>
                    <h5 class="ml-2 mt-3"><u><b>Update Reject Lead Reason</b></u></h5>
                    <div class="panel-body">
                        <div class="border-part">
                            <form asp-action="UpdateRejectLeadReason" id="MyForm" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                                <div class="form-group">
                                    <div class="row pl-5">
                                        <div class="col-lg-4 col-sm-12">
                                            <label asp-for="getRejectedLeadReasonMasterByIdDto.RejectLeadReason" class="control-label">RejectLeadReason <span style="color: Red">&nbsp;*</span></label>
                                            <input asp-for="getRejectedLeadReasonMasterByIdDto.RejectLeadReason" value="@record.RejectLeadReason" class="form-control" maxlength="50" required />
                                            <span asp-validation-for="getRejectedLeadReasonMasterByIdDto.RejectLeadReason" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">

                                            <label asp-for="getRejectedLeadReasonMasterByIdDto.IsActive" class="control-label"></label><span style="color: Red">&nbsp;*</span><br />
                                            <p hidden id="val">@record.IsActive</p>
                                            &nbsp;<input type="checkbox" asp-for="getRejectedLeadReasonMasterByIdDto.IsActive" id="myCheckbox" />

                                            <div id="checkDiv"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <div class="mr-2"><button type="submit" id="submit" style="background-color: #343a40;color:white" class="btn">Update</button></div>
                                        <div><a onclick="loadPage()" id="btn2" value="Cancel" class="btn btn-danger">Cancel</a></div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        var data = document.getElementById('val').innerText;
        var check = $('#myCheckbox').val();
        var ch = data.toString();
        console.log("data is", data);
    console.log(ch);
        console.log(check);
        if (data == "False") {
        console.log("Unchecked");
        $('#myCheckbox').prop('checked', false);
        }
        else if (data != "False") {
        console.log("checked");
            $('#myCheckbox').prop('checked', true);
        }
    });


    //function BtnClick() {
    //    $('#myCheckbox').prop('checked', true);
    //}
    function loadPage() {

        $("#div_dynamicTables").load("../Master/GetRejectLeadReasonMaster");
    }
    $("#MyForm").on("submit", function (e) {
        var dataString = $(this).serialize();
        var ModelStatus = $(this).validate();
        if (ModelStatus) {
            $.ajax({
                type: "POST",
                url: "/Master/UpdateRejectLeadReason/" + @record.RejectLeadReasonId,
                data: dataString,
                success: function () {
                    toastr.success("RejectLeadReason Updated SuccessFully.")

                    $("#div_dynamicTables").load("../Master/GetRejectLeadReasonMaster");
                }
            });
            e.preventDefault();
        }
    });

    </script>