@using LoanProcessManagement.Application.Features.RoleMaster.Queries.GetRoleMaster;
@model LoanProcessManagement.App.Models.UpdateRoleMasterVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var record = (GetRoleMasterByIdDto)ViewData["data"];


}

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in ">
            <div style="border: 1px solid #343a40" class="border">
                <div class="panel-heading">
                    <h5>Add Role</h5>
                </div>
                <div class="panel-body">
                    <div class="border-part">
                        <form method="post" asp-controller="Master" enctype="multipart/form-data">
                            
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div><br />
                            <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                            <div class="form-group">
                                <div class="row pl-5">

                                    <div class="col-lg-4 col-sm-12 ">
                                        <label hidden  asp-for="getRoleMasterByIdQueryVm.Id" class="control-label"></label>
                                        <input hidden  asp-for="getRoleMasterByIdQueryVm.Id" value="@record.Id" class="form-control" />
                                        <span asp-validation-for="getRoleMasterByIdQueryVm.Id" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-4 col-sm-12">
                                        <label asp-for="getRoleMasterByIdQueryVm.RoleName" class="control-label">Role Name<span style="color: Red">&nbsp;*</span></label>

                                        <input asp-for="getRoleMasterByIdQueryVm.RoleName" value="@record.RoleName" class="form-control" maxlength="50" required/>
                                        <span asp-validation-for="getRoleMasterByIdQueryVm.RoleName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <label hidden  asp-for="getRoleMasterByIdQueryVm.LastModifiedDate" class="control-label"></label>

                                        <input hidden asp-for="getRoleMasterByIdQueryVm.LastModifiedDate" value="@record.LastModifiedDate" class="form-control" maxlength="50" />
                                        <span asp-validation-for="getRoleMasterByIdQueryVm.LastModifiedDate" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"><button type="submit" id="submit" style="background-color: #343a40;color:white" class="btn">Update</button></div>
                                    <div class="col-md-2"><a asp-action="Menulist" id="btn2" type="button" value="Cancel" class="btn btn-danger">Cancel</a></div>
                                </div>
                            </div>

                            </form>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

