@using LoanProcessManagement.Application.Features.RoleMaster.Queries.GetRoleMaster;
@model LoanProcessManagement.App.Models.UpdateRoleMasterVm
@{

    var record = (GetRoleMasterByIdDto)ViewData["data"];
    
}

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in ">
            <div style="border: 1px solid #343a40" class="border">
                <h5 class="ml-2 mt-3"><u><b>Update Role</b></u></h5>
                <div class="panel-body">
                    <div class="border-part">
                        <form id="MyForm" asp-controller="Master" method="post" enctype="multipart/form-data">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div><br />
                            <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                            <div class="form-group">
                                <div class="row pl-5">

                                    @*<div class="col-lg-4 col-sm-12 ">
                                            <label hidden asp-for="getRoleMasterByIdQueryVm.Id" class="control-label"></label>
                                            <input hidden asp-for="getRoleMasterByIdQueryVm.Id" value="@record.Id" class="form-control" />
                                            <span asp-validation-for="getRoleMasterByIdQueryVm.Id" class="text-danger"></span>
                                        </div>*@

                                    <div class="col-lg-4 col-sm-12">
                                        <label asp-for="getRoleMasterByIdQueryVm.RoleName" class="control-label">Role Name<span style="color: Red">&nbsp;*</span></label>

                                        <input asp-for="getRoleMasterByIdQueryVm.RoleName" value="@record.RoleName" class="form-control" maxlength="50" required />
                                        <span asp-validation-for="getRoleMasterByIdQueryVm.RoleName" class="text-danger"></span>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">

                                        <label asp-for="getRoleMasterByIdQueryVm.IsActive" class="control-label"></label><span style="color: Red">&nbsp;*</span><br />

                                        &nbsp;<input type="checkbox" asp-for="getRoleMasterByIdQueryVm.IsActive" id="myCheckbox"  />
                                       
                                    <div id="checkDiv"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1"><button  type="submit" id="submit" style="background-color: #343a40;color:white" class="btn">Update</button></div>
                                    <div class="col-md-2"><a onclick="loadPage()" id="btn2" type="button" value="Cancel" class="btn btn-danger">Cancel</a></div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var check = $('#myCheckbox').val();
        var ch = check.toString();
    console.log(ch);
        console.log(check);
        if (check != "true") {
        console.log("Unchecked");
        $('#myCheckbox').prop('checked', false);
        }
        else if (check == "true") {
        console.log("checked");
            $('#myCheckbox').prop('checked', true);
        }
    });

    
    //function BtnClick() {
    //    $('#myCheckbox').prop('checked', true);
    //}
    function loadPage() {

        $("#div_dynamicTables").load("../Master/GetRoleMaster");
    }
    $("#MyForm").on("submit", function (e) {
        var dataString = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/Master/UpdateRole/" + @record.Id,
            data: dataString,
            success: function () {
                toastr.success("UserRole Updated SuccessFully.")

                $("#div_dynamicTables").load("../Master/GetRoleMaster");
            }
        });
        e.preventDefault();
    });

</script>




